# Python
__pycache__/
*.py[oc]
*.egg-info/

# Build & dist
build/
dist/
wheels/

# Virtual environment
.venv/


# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers
.mypy_cache/
.ruff_cache/

# macOS
**/.DS_Store
